<nav class="nav-bar navbar-default">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li routerLinkActive = "active current" [routerLinkActiveOptions]="{exact: true}"><a routerLink = "">Users</a></li>  
        <li routerLinkActive = "active current" [routerLinkActiveOptions]="{exact: true}"><a routerLink = "/products">Products</a></li>         
      </ul>
  </div>
</nav>

